*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(222, 184, 135, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: rgba(222, 184, 135, 0.45);
  border: 6px solid rgba(221, 56, 56, 0.3);
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 80px;
  /* color: rgba(166, 114, 11, 0.6); */
  color: rgb(166, 114, 11);
  font-style: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Titulo{
    position: relative;
    margin-top: -30px;
    margin-right: -250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184, 140, 20, 0.685);
}

/* nav */
.listheader {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.listheader a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(180, 160, 124, 0.8);
  color: rgb(207, 86, 86);
  font-size: 20px;
}

.ativo {
  background-color: white;
  color: red;
}

.nav-ajuda {
  background-color: rgb(230, 175, 103);
}

/* main */
main {
  padding: 40px;
}

.mainpage {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

/* card */
.card-produto {
  width: 260px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card-produto img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.card-produto h3 {
  margin: 10px 0;
}

.avaliacao {
  color: #f1c40f;
}

.preco {
  font-size: 22px;
  color: #27ae60;
  font-weight: bold;
}

.btn-comprar {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #a66a2c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-comprar:hover {
  background-color: #8b5522;
  transform: scale(1.03);
}

/* footer */
footer {
  background-color: rgba(175, 111, 43, 0.3);
  padding: 40px;
}

.footerlinks {
  background-color: rgba(113, 97, 38, 0.9);
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  margin: auto;
  text-align: center;
  color: rgba(243, 188, 122, 0.9);
}