header{
    background-color: rgba(222, 184, 135, 0.455);
    border: 8px solid;
    border-color: rgba(221, 56, 56, 0.31);
    height: 190px;
}
main{
    background-color: rgba(222, 184, 135, 0.455);
    height: 39vh;
    border: 6px solid;
    border-color: rgba(216, 152, 69, 0.904);
}
footer{
border: 2px  solid rgba(194, 144, 90, 0.316);
background-color: rgba(175, 111, 43, 0.31);
height: 27vh;
}


h1{
color: rgba(166, 114, 11, 0.389);
text-align: center;
font-size: 80px;
font-style: inherit;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: -10px;
}
a{
    float: left;
    margin-top: 0px;
    background-color: rgba(180, 160, 124, 0.845);
    margin-left: 350px;
    border: 2px solid white;
    font-size: 28px;
    border-radius: 10px;
    box-shadow: 10px 0px 10px 0px white;
    color: rgb(207, 86, 86);
    text-shadow: 2px  rgb(207, 86, 86);
}
.listheader{
    background-color: rgba(159, 96, 32, 0.395);
    height: 40px;
    margin-top: -50px;

}
.ola{
    float: right;
    margin-top: -150px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(230, 175, 103);
    box-shadow: 10px 0px 10px 0px white;
}
.Titulo{
    position: relative;
    margin-top: -85px;
    margin-right: -250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184, 140, 20, 0.685);
}
.footerlinks{
    position: relative;
    padding-left: 40%;
}
div{
    margin-top: 0px;
}
div p{
    font-size: 25px;
    color: rgba(243, 188, 122, 0.662);
    text-align: center;
}
.footerlinks div{
    background-color: rgba(113, 97, 38, 0.944);
    height: 180px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 20px 10px 20px 10px rgb(119, 91, 41);
}

#image1{
border: 6px solid rgba(211, 150, 96, 0.571);
height: 200px;
width: 150px;
display: inline-block;
margin-left: 10vw;
margin-bottom: -70px;
}
#image1 img{
    position: relative;
    height: 100%;
    width: 150px;
    box-shadow: 10px 0px 10px 0px rgb(119, 91, 41);
}
#image2{
border: 6px solid rgba(211, 150, 96, 0.571);
display: inline-block;
height: 200px;
width: 150px;
margin-left: 10vh;
margin-top: 0px;
}
#image2 img{
    position: relative;
    height: 100%;
    width: 150px;
    box-shadow: 10px 0px 10px 0px rgb(119, 91, 41);
}
#image3{
border: 6px solid rgba(211, 150, 96, 0.571);
display: inline-block;
height: 200px;
width: 150px;
margin-left: 10vh;
margin-top: -40px;
}
#image3 img{
    position: relative;
    height: 100%;
    width: 150px;
    box-shadow: 10px 0px 10px 0px rgb(119, 91, 41);
}
#image4{
border: 6px solid rgba(211, 150, 96, 0.571);
display: inline-block;
height: 200px;
width: 150px;
margin-left: 10vh;
margin-top: 20px;
}
#image4 img{
    position: relative;
    height: 100%;
    width: 150px;
    box-shadow: 10px 0px 10px 0px rgb(119, 91, 41);
}
#image5{
border: 6px solid rgba(211, 150, 96, 0.571);
display: inline-block;
height: 200px;
width: 150px;
margin-left: 10vh;
margin-top: -40px;
}
#image5 img{
position: relative;
    height: 100%;
    width: 150px;
    box-shadow: 10px 0px 10px 0px rgb(119, 91, 41);
}
#image6{
border: 6px solid rgba(211, 150, 96, 0.571);
display: inline-block;
height: 200px;
width: 150px;
margin-left: 10vh;
margin-top: 80px;
}
#image6 img{
position: relative;
    height: 100%;
    width: 150px;
    box-shadow: 10px 0px 10px 0px rgb(119, 91, 41);
}